@using System.Web.Optimization
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
    <script src="http://code.jquery.com/jquery.js"></script>
    <link href="~/Content" rel="stylesheet" media="screen" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
    @Styles.Render("/Content")
    @Scripts.Render("/Scripts")

    <style type="text/css">
        ul {
            list-style: none;
            font-size: large;
            margin: 0px;
        }

        li {
            margin: 0px;
        }

        ul li {
            display: block;
            position: relative;
            float: left;
            margin: 0px;
            border: 1px solid #000;
        }

        li ul {
            display: none;
            padding-left: 0px;
            margin: 0px;
        }

        ul li a {
            display: block;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
            white-space: nowrap;
            color: #ff6a00;
        }

            ul li a:hover {
                background: yellow;
            }

        li:hover ul {
            display: block;
            position: absolute;
        }

        li:hover li {
            float: none;
            margin: 0px;
        }

        li:hover a {
        }

        li:hover li a:hover {
            background: yellow;
        }

        #drop-nav li ul li {
            border-top: 0px;
        }
    </style>

</head>
<body>
    @*class="navbar-collapse collapse"*@
    <div id="horizontalmenu">
        <ul>
            @*<li>
                    <a href="#">Home</a>
                    <ul>
                        <li><a href="~/Home_Shree_Web.aspx">Web_Shree</a></li>
                        <li><a href="~/Home_Motel_Web.aspx">Web_Motel</a></li>
                        <li><a href="/Home">MVC_Motel</a></li>
                        <li><a href="~/Home/ShrikantDevre">MVC_Shree</a></li>
                    </ul>
                </li>*@
            @*<li>
                                        <a href="#">Company</a> <ul>
                                            <li><a href="~/Views/Home/Corporate_Overview.cshtml">Corporate_Overview</a></li>
                                            <li>@Html.ActionLink("Corporate Overview", "Corporate_Overview", "Home")</li>
                                            <li>@Html.ActionLink("Why Shree", "Why_Shree", "Home")</li>
                                            <li>@Html.ActionLink("VisionMission", "VisionMission", "Home")</li>
                                            <li>@Html.ActionLink("EngagementModels", "EngagementModels", "Home")</li>
                                            <li>@Html.ActionLink("Clients", "Clients", "Home")</li>
                                            <li>@Html.ActionLink("Consultants", "Consultants", "Home")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Services</a> <ul>
                                            @*<li>@Html.ActionLink("SoftwareDevelopment", "SoftwareDevelopment", "Home")</li>
                                            <li>@Html.ActionLink("Cloud Computing", "CloudComputing", "Home")</li>
                                            <li>@Html.ActionLink("InfrastructureMgmt", "InfrastructureMgmt", "Home")</li>
                                            <li>@Html.ActionLink("Trainings", "Trainings", "Home")</li>
                                            <li>@Html.ActionLink("IT Consulting", "ITConsulting", "Home")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Technologies</a> <ul>
                                            @*<li>@Html.ActionLink("Mobile Tech", "MobileTech", "Home")</li>
                                            <li>@Html.ActionLink("Microsoft Tech", "MicrosoftTech", "Home")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Reports</a> <ul>
                                            @*<li>@Html.ActionLink("User Role", "", "Roles")</li>
                                            <li>@Html.ActionLink("Users", "", "Users")</li>-->-->
                                            <li>@Html.ActionLink("Projects", "", "Projects")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Accounts</a> <ul>
                                         @*<li>@Html.ActionLink("User Login", "", "Login_Shree")</li>
                                         <li>@Html.ActionLink("UserRole Creation", "UserRoleEntry", "Roles")</li>
                                         <li>@Html.ActionLink("User Registration", "Create", "Users")</li>
                                         <li>@Html.ActionLink("Project Registration", "Create", "Projects")</li>
                                         <li>@Html.ActionLink("User Project Assignment", "Create", "Users")</li>

                </ul>
                                    </li>
                                    <li>
                                        <a href="#">Careers</a> <ul>
                                            @*<li>@Html.ActionLink("Openings", "Openings", "Home")</li>
                                            <li>@Html.ActionLink("ContactUs", "ContactUs", "Home")</li>
                </ul>
                            </li>                    *@
        </ul>
    </div>
</body>
</html>