@*@using System.Web.Optimization*@
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
    <link href="~/css/shubh.css" rel="stylesheet" />

    @*<script src="http://code.jquery.com/jquery.js"></script>
        <link href="~/Content" rel="stylesheet" media="screen" />
        <link href="~/Content/" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
        @Styles.Render("/Content")
        @Scripts.Render("/Scripts")*@
</head>
<body>
    <form>
        <div id="ShubhamLeftBar" class="shubh-left-bar">
            <ul style="text-align:center; background-color:aqua; font-size:medium">
                <li style="text-align:left; font-size:medium; background-color:aqua; border:none">
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">PortFolios</a>
                    <a href="@Url.Content("https://www.linkedin.com/in/shubhamdevre/")" target="_blank">LinkedIn</a>
                    <a href="@Url.Content("https://motelma.com/ShubhamDevre")" target="_blank">Personal Website</a>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">Canada Experience</a>
                    <a href="@Url.Content("~/ShubhDocs/.pdf")" target="_blank">Atul Shah</a>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">India Experience</a>
                    <a href="@Url.Content("~/ShubhDocs/.pdf")" target="_blank">Saraf</a>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">Certification</a>
                    <a href="@Url.Content("~/ShubhDocs/.pdf")" target="_blank">Swim </a>
                    <a href="@Url.Content("~/ShubhDocs/.pdf")" target="_blank">Security </a>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">Education</a>
                    <a href="@Url.Content("~/ShubhDocs/.pdf")" target="_blank">Bachelor Degree</a>
                    <a href="@Url.Content("~/ShubhDocs/.pdf")" target="_blank">High School Maksheet</a>
                    <a href="@Url.Content("~/ShubhDocs/.pdf")" target="_blank">Company Secretary </a>
                    <a href="@Url.Content("~/ShubhDocs/.pdf")" target="_blank">BCom Convocation</a>
                </li>
            </ul>
        </div>
    </form>
</body>
</html>