<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title - Shubham Profile</title>
    <meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
    <link href="~/css/shubh.css" rel="stylesheet" />

    <style type="text/css">
        ul {
            list-style: none;
            font-size: large;
        }

        li {
        }

        ul li {
            display: block;
            position: relative;
            float: left;
            border: 1px solid #000;
        }

        li ul {
            display: none;
        }

        ul li a {
            display: block;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
            white-space: nowrap;
            color: #ff6a00;
        }

            ul li a:hover {
                background: yellow;
            }

        li:hover ul {
            display: block;
            position: absolute;
        }

        li:hover li {
            float: none;
            margin: 0px;
        }

        li:hover a {
        }

        li:hover li a:hover {
            background: yellow;
        }

        #drop-nav li ul li {
            border-top: 0px;
        }
    </style>
</head>
<body>
    <form>
        <div id="ShubhamRightBar" class="ShubhamRightBar">
            <ul>
                <li>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">Canada</a>
                    <a href="@Url.Content("~/ShubhDocs/Canada_Smita_Passport.pdf")" target="_blank">Passport</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Canada Landing</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Permanant Residence</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Citizenship Certificate</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Citizenship Card</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Driving License</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Security License</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Income Tax Return</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Social Security Number</a>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">USA</a>
                    <a href="@Url.Content("~/ShubhDocs/USA_Smita_H4_2001_2004_2.pdf")" target="_blank">H4_2001_2004</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">ITIN_2001</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">ITIN_2017</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">TD_Infosys247</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">TD_VDart</a>
                    <a href="@Url.Content("~/ShubhDocs/USA_Smita_TD_April_2019.pdf")" target="_blank">TD_HCL_Global</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Income Tax Return</a>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">India</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">OCI Card</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">PAN Card</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Adhar Card</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Driving License</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Marriage Certificate</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Affidavit Name</a>
                    <a href="@Url.Content("~/ShubhDocs/India_Experience_Saraf.pdf")" target="_blank">Ration Card</a>
                </li>
            </ul>
        </div>
    </form>
</body>
</html>