<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title - Smita Profile</title>
    <meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
    <link href="~/css/smita.css" rel="stylesheet" />
</head>
<body>
    <form>
        <div id="SmitaRightBar" class="SmitaRightBar"> 
            <ul> 
                <li> 
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">Canada</a>
                    <a href="@Url.Content("~/SmitaDocs/Canada_Smita_Passport.pdf")" target="_blank">Passport</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Canada Landing</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Permanant Residence</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Citizenship Certificate</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Citizenship Card</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Driving License</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Security License</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Income Tax Return</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Social Security Number</a>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">USA</a>
                    <a href="@Url.Content("~/SmitaDocs/USA_Smita_H4_2001_2004_2.pdf")" target="_blank">H4_2001_2004</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">ITIN_2001</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">ITIN_2017</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">TD_Infosys247</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">TD_VDart</a>
                    <a href="@Url.Content("~/SmitaDocs/USA_Smita_TD_April_2019.pdf")" target="_blank">TD_HCL_Global</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Income Tax Return</a>
                    <a href="#" style="font-family:Arial; font-size:larger; background-color:coral; color:firebrick">India</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">OCI Card</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">PAN Card</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Adhar Card</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Driving License</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Marriage Certificate</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Affidavit Name</a>
                    <a href="@Url.Content("~/SmitaDocs/India_Experience_Saraf.pdf")" target="_blank">Ration Card</a>
                </li>
            </ul>
        </div>       
    </form>
</body>
</html>