<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title - Smita Profile</title>
    <meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
    <link href="~/css/smita.css" rel="stylesheet"/>
</head>
<body>
    <form>
        <div id="Smita_Layout" class="Smita_Layout">
             @*style="width:auto">*@
            <div id="SmitaMenuBar" class="SmitaMenuBar">
                 @*style="width:auto">*@
                <table>
                       @*style="width:100%">*@
                    <tr>
                        @*style="height:auto">*@
                        <td>
                            @*style="width:100%">*@ 
                            <div class="SmitaMenuBar">
                                @Html.Partial("SmitaMenuBar")
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="SmitaTopBar" class="SmitaTopBar">
                @*style="width:auto">*@
                <table>
                    <tr>
                        <td>
                            @*style="width:100%">*@
                            <div>
                                @Html.Partial("SmitaTopBar")
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="SmitaStatusBar" class="SmitaStatusBar">
                 @*style="width:auto">*@
                <table>
                    @*style="width:100%">*@
                    <tr>
                        <td>
                            @*style="width:100%">*@
                            <div>
                                @Html.Partial("SmitaStatusBar")
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Middle Section Details -->
            <div id="SmitaMiddleBar" class="SmitaMiddleBar">
                 @*style="width:auto">*@
                <table>
                    @*style="border:solid; width:100%">*@
                    <tr>
                        <td>
                            @*style="vertical-align:top; width:10%">*@
                            <div id="SmitaLeftBar" class="SmitaLeftBar">
                                @Html.Partial("SmitaLeftBar")
                            </div>
                        </td>
                        <td>
                            @*style="vertical-align:top; width:80%; border:solid">*@
                            <div id="SmitaMiddleBar" class="SmitaMiddleBar">
                                @RenderBody()
                                <hr />
                            </div>
                        </td>
                        <td>
                            @*style="vertical-align:top; width:10%">*@
                            <div id="SmitaRightBar" class="SmitaRightBar">
                                @Html.Partial("SmitaRightBar")
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <!-- Bottom Bar Header -->
            <div id="SmitaBottomBar" class="SmitaBottomBar">
                 @*style="width:auto">*@
                <table>
                       @*style="width:100%">*@
                    <tr>
                        <td>
                            @*style="width:100%">*@
                            <div id="SmitaBottomBar">
                                @Html.Partial("SmitaBottomBar")
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
